* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #333;
  background-color: #f8f8f8;
}

/* ***************** */
/* CONTACT US SECTION */
/* ***************** */

.contact-section {
  padding: 9.6rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.academy-logo {
  width: 30%;
  display: block;
}

.register-titel {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 3rem;
  text-align: center;
}

.form-title {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 3.6rem;
}
.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* background-color: #e67e22; */
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  overflow: hidden;
}

.login-form {
  min-width: 40rem;
}

.cta .heading-secondary {
  color: #352663;
  margin-bottom: 3.2rem;
}
.cta-text-box {
  /* position: absolute; */
  color: #352663;
  padding: 4.8rem;
  /* box-shadow: 0 1rem 9.8rem rgba(0, 0, 0, 0.075); */
  box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 1px 3px 0 #0000001a,
    0 1px 2px -1px #0000001a;

  border-radius: 1.1rem;
}

.email-input,
.password-input,
.password2-input,
.register {
  grid-column: 1/3;
}

.register {
  background-color: #352663;
  color: #f3effe;
  padding: 1.2rem;
  align-self: end;
}

/* the transation will apply automaticlly */
.register:hover {
  background-color: #fff;
  color: #555;
}

.register {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
}

/*  */
.new-user,
.old-user {
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 1.2rem;
  margin-top: 2.4rem;
}

.contact-info {
  display: flex;
  align-items: center;
  padding: 2.4rem 0;

  gap: 4.6rem;
}
.call-box {
  display: flex;
  align-items: center;
  gap: 8px;
}

.call-text {
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.call-text p {
  font-size: 1.6rem;
}
.mail-icon,
.call-icon {
  font-size: 3.6rem;
  color: #845ef7;
}
.num {
  font-size: 1.8rem;
}
.cta-text {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #f3effe;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #aaa;
}
